<section class="container">
  <h3>{{survey.name}}</h3>
  <form class="prompt-group" action="/respond/:id" method="POST">
    {{#each survey.questions}}
      <div class="prompt">
        <label for={{concat "questions[" @index "]"}}>{{this.prompt}}</label>
        {{#if (hasOptions this.type)}}
          {{#each this.options}}
            <input name={{concat "questions[" @../index "]"}} type={{../this.type}} value={{this}} required>
            <label for={{concat "questions[" @../index "]"}}>{{this}}</label>
          {{/each}}
        {{else}}
          <input name={{concat "questions[" @index "]"}} type={{this.type}} required>
        {{/if}}
      </div>
    {{/each}}
    <button type="submit">Submit Responses</button>
  </form>
</section>