<section class="container">
  <h3>{{survey.name}}</h3>
  <form class="prompt-group" action="/respond/:id" method="GET">
    {{#each survey.questions}}
      <div class="prompt">
        <label for={{concat "prompt-" @index }}>{{this.prompt}}</label>
        {{#if (hasOptions this.type)}}
          {{#each this.options}}
            <input name={{concat "option-" @index}} type={{../this.type}}>
            <label for={{concat "option-" @index}}>{{this}}</label>
          {{/each}}
        {{else}}
          <input name={{concat "prompt-" @index}} type={{this.type}}>
        {{/if}}
      </div>
    {{/each}}
  </form>
</section>